.pass{margin:auto;z-index:99999999999;position:absolute;width:100%;height:100%;text-align:center;background:#000;}
.form-wrapper{width: 280px;padding: 15px;margin: 30% auto 50px auto;background: #444;background: rgba(0,0,0,.2);border-radius: 10px;box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);}
.form-wrapper input{width: 200px;padding: 11px 5px;float: left;font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';border: 0;background: #eee;border-radius: 3px 0 0 3px;}
.form-wrapper input:focus{outline: 0;background: #fff;box-shadow: 0 0 2px rgba(0,0,0,.8) inset;}
.form-wrapper input::-webkit-input-placeholder{color: #999;font-weight: normal;font-style: italic;}
.form-wrapper input:-moz-placeholder{color: #999;font-weight: normal;font-style: italic;}
.form-wrapper input:-ms-input-placeholder{color: #999;font-weight: normal;font-style: italic;}
.form-wrapper button{overflow: visible;position: relative;float: right;border: 0;padding: 0;cursor: pointer;height: 40px;width: 70px;font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';color: #fff;text-transform: uppercase;background: #d83c3c;border-radius: 0 3px 3px 0;text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);}
.form-wrapper button:hover{background: #e54040;}
.form-wrapper button:active,.form-wrapper button:focus{background: #c42f2f;outline: 0;}
.form-wrapper button:before{content: '';position: absolute;border-width: 8px 8px 8px 0;border-style: solid solid solid none;border-color: transparent #d83c3c transparent;top: 12px;left: -6px;}
.form-wrapper button:hover:before{border-right-color: #e54040;}
.form-wrapper button:focus:before,.form-wrapper button:active:before{border-right-color: #c42f2f;}
.form-wrapper button::-moz-focus-inner{border: 0;padding: 0;}